<h1>Pagina Login</h1>
<a href="/api/sessions/github">
    Registrarse con github
</a>

<div>
    <form method="post" action="/api/sessions/login">
        <input type="text" placeholder= "Correo" name="email"/>
        <br/>
        <input type="password" placeholder= "Contraseña" name="password"/>
        <br/>
        <button type="submit">Iniciar sesion</button>
    </form>
</div>